// Specific CSS for your home-page

body {
  margin: 0;
  background-color: #F7F7F7;
  overflow-x: hidden;
}

.topo {
  background-image: url("banner.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.batata {

  form {
    display: flex;
    flex-direction: row;
    width: 400px;
  }
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  // margin-left: 10%;
  // margin-right: 10%;
  margin-top: 15px;
}

.navbar-custom p {
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
}

.logo {
  width: 300px;
  height: 40px;
}

.banner {
  height: 300px;
  margin-top: 15px;
  opacity: 20%;
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}

/*.categories {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}*/

.categories img {
  width: 300px;
  height: 170px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.middle {
  margin-left: 10%;
}

.middle p {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 41px;
  color: #313131;
}

.img-product {
  width: 300px;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.imagebox h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 41px;
  color: #313131;
}

.quantidade {
  width: 100px;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

// .btn-primary {
//   background-color: #FF6978;
//   color: white;
//   border: none;
// }

// .btn-primary:hover {
//   background-color: #E54D5D;
// }

// .btn-primary:active {
//   background-color: #E54D5D;
// }
