
<table class="table">
  <thead>
    <th style="font-family: 'Roboto', sans-serif;">Product</th>
    <th style="font-family: 'Roboto', sans-serif;">Quantity</th>
    <% if @user == current_user %>
      <th>Action</th>
    <% end %>
  </thead>
  <% @products.each do |product| %>
    <% if product.quantity > 0 %>
      <tr>
        <td style="font-family: 'Roboto', sans-serif;"><%= link_to "#{product.name.capitalize}", product_path(product) %></td>
        <td><%= product.quantity %></td>
        <% if product.user == current_user %>
          <td>
            <div class="row justify-content-space-between">
              <%= link_to product_path(product), method: :delete,
              data: { confirm: "Delete item?" } do %>
                <i class="fa fa-trash d-flex justify-content-around pr-5"></i>
              <% end %>
              <%= link_to product_path(product) do %>
                <i class="fa fa-edit justify-content-around"></i>
              <% end %>
            </div>
          </td>
          <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
