
<table class="table">
  <thead>
    <th>Object</th>
    <th>Quantity</th>
    <th>Action</th>
  </thead>
  <% @user.products.each do |product| %>
    <tr>
      <td><%= link_to "#{product.name}", product_path(product) %></td>
      <td><%= product.quantity %></td>
      <td>
        <div class="row justify-content-space-between">
          <%= link_to product_path(product), method: :delete, 
          data: { confirm: "Delete item?" } do %>
            <i class="fa fa-trash d-flex justify-content-around pr-5"></i>
          <% end %>
          <%= link_to edit_product_path(product) do %>
            <i class="fa fa-edit justify-content-around"></i>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</table>