<div class="container mt-5">

  <h2><%= @user.username %></h2>
  <%= render "users/my_items" %>
  <div class="row justify-content-around">
  <% if @user == current_user %>
  <%= link_to 'Sell a product', new_product_path %>
  <% end %>
  <%= link_to 'Back to Products', products_path%>
  </div>
</div>