  <% @products.each do |product| %>
    <% if product.quantity > 0 %>
      <div class="card text-center col-2 m-3 w-100 pr-0 pl-0 border-white">
        <img class="card-img-top" src="assets/placeholder.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 18px;"><%= product.name %></h5>
          <p class="card-text" style="font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 16px;"><%= product.coin_price %></p>
        </div>
      </div>
    <% end %>
  <% end %>

  
<%#= add the line below to link to this partial %>
<%#= render 'shared/recent_products' %>

