<div class="container">

<div class="top-banner">
<img src="assets/banner.jpg" class="banner">
</div>

    <div class="pl-0 pt-5" style="font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 25px; line-height: 41px; color: #313131; margin-top: -20px;">
    <p>Featured</p>
  </div>

  <div class="row pt-5 pb-4" style="margin-top: -40px;">
    <img src="assets/placeholder.png" class="col-4">
    <img src="assets/placeholder.png" class="col-4">
    <img src="assets/placeholder.png" class="col-4">
  </div>

  <div class="pl-0" style="font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 25px; line-height: 41px; color: #313131;">
    <p>New products</p>
  </div>

  <div class="row d-flex justify-content-space-around">
    <%= render 'shared/recent_products' %>
  </div>

  <div class="footer">

    <div class="container d-flex space-evenly">
      <i class="fas fa-chess-knight ml-5"></i>
      <div class="container ml-5">
        <h1>About us</h1>
        <p>How to sell</p>
        <p>How to buy</p>
        <p>FAQ</p>
      </div>
    </div>
    </div>
  </div>

</div>
