<div class="container">
  <h1>Medieval Market</h1>
  <h2><%= @product.name %></h2>
  <p><% @product.coin_price%> coins</p>
  <p><% @product.owner%></p>
  <p>Description: <% @product.description%></p>
</div>